{#{% extends 'photos/main.html' %}#}
{#{% block content  %}#}
{#    <div class="row justify-content-center ">#}
{#        <div class="col">#}
{#            <a href="{% url 'gallery' %}"  class="btn btn-dark my-3">Go Back</a>#}
{#            <div class=" mx-56" >#}
{#                <img width="50%" height="50%" class="mx-16 mb-4"  src="{{ photos.image.url }}" alt="">#}
{#                <p class="">{{ photos.description}}</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock  %}#}